<%- include ('partials/header') %>
<%- include ('partials/nav') %>
<title>
Edit post
</title>


<!--<h1>Edit "<%=blog.title%>"</h1>

<form action="/posts/<%= blog._id %>?_method=PUT" method="POST">
    <input type="text" name="blog[title]" value="<%=blog.title%>">
    <input type="text" name="blog[image]" value="<%=blog.image%>">
    <input type="text" name="blog[body]" value="<%=blog.body%>">
    <input type="submit">

</form>-->

<div class="container mt-4">
    
<h2 class="text-center "> <strong><%=blog.title%></strong></h2>
       
        <form id="formed" action="/posts/<%= blog._id %>?_method=PUT" method="POST" class="campform" enctype="multipart/form-data">
            <div   class="row"> 
                <div id="asd" class="col-md-12">
                        <input type="text"  class="form-control" name="title" value="<%=blog.title%>">
                </div>
                <div id="asd" class="col-md-12">
                        <label for="image">Image</label>
                        <input type="file" id="image" class="form-control" name="image" accept="image/*">
                        <!--<input type="text" class="form-control"  name="image" value="<%=blog.image%>">-->
                </div>
                <div class="col-md-12">
                    <textarea name="body" class="des" value="<%=blog.body%>"><%=blog.body%></textarea>
                    <!--<input type="text"  class="form-control des" name="blog[body]" value="<%=blog.body%>">-->
                </div>
            </div>
        <br>
            <button  id="campnewbtn" class="btn btn-primary">Submit</button>
        </form>
        <form action="/posts/<%= blog._id%>?_method=DELETE" method="POST" class="mb-4">
            <button class="btn btn-danger"> <i class="fas fa-trash-alt"></i>Delete</button>
    </form>
        
</div>
<%- include ('partials/footer') %>
